<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>About</title>
</head>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Heart Disease Prediction</a>
    <button class="navbar-toggler" type="button" style="background-color:RoyalBlue;color:white " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Self Test</a>
            </li>
        <!--    <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>-->
        </ul>
    </div>
</nav>
<br>
<br>
<body>


    <div class="jumbotron hero-nature">

        <h1 class="hero-title">Heart Disease Diagnosis</h1>

        <p> Correctly diagnosing diseases takes years of medical training. Even then, diagnostics is often an arduous, time-consuming process. In many fields, the demand for experts far exceeds the available supply. This puts doctors under strain and often delays life-saving patient diagnostics.

            Machine Learning (ML) have recently made huge advances in automatically diagnosing diseases, making diagnostics cheaper and more accessible.

            <p> This app predicts wether you have or not a heart disease using Machine Learning (ML).
            <p> You still have to go to a doctor just to be safe :) ! </p>


        </div>
    <div class="jumbotron hero-nature">
           <p>What can I do to lower my risk of heart disease?</p>
         </div>
    <div class="jumbotron">
        <ol align="justify">
            <li>Control your blood pressure.</li>
            <li>Keep your cholesterol and triglyceride levels under control.</li>
            <li>Stay at a healthy weight.</li>
            <li>Eat a healthy diet.</li>
            <li>Get regular exercise.</li>
            <li>Limit alcohol.</li>
            <li>Don't smoke.</li>
            <li>Manage stress.</li>
            <li>Manage diabetes.</li>
            <li>Make sure that you get enough sleep.</li>
        </ol>
    </div>
        <style>
        div.jumbotron.hero-nature {
            color: RoyalBlue;

            text-align: center;

        }

        </style>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
        body {
            background-color: #ffffff;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        </style>

</body>

</html>